<div class="container-fluid">
	<div class="row clearfix-col-sm-6 col-xs-12">
		{{ bios_img }}
		<h2>{{ bios_fname }} {{ bios_title }}</h2><br />
		<strong>{{ bios_titles }}</strong><br />
		<strong>Department</strong> {{ bios_department }}<br />
		<strong>Office</strong> {{ bios_room }}<br />
		<strong>Phone</strong> {{ bios_fphone }}<br />
		<strong>Fax</strong> {{ bios_fax }}<br />
		<strong>Email</strong> {{ bios_email }}<br />
		<a href="https://profile.hsc.unt.edu/profilesystem/viewprofile.php?pid={{ bios_eis }}">View Profile</a>
	</div>	
</div>	



