<div class="container-fluid">
	<div class="row clearfix-col-sm-6 col-xs-12">
		<img src="{{ abios.thumbnail.src }}" style="width: 10em; height: auto;" alt="{{ abios.post_title }} image"/>
		<h2>{{ abios._cmbi_fname }} {{ abios.post_title }}</h2><br />
		<strong>{{ abios._cmbi_titles }}</strong><br />
		<strong>Department</strong> {{ abios._cmbi_department }}<br />
		<strong>Office</strong> {{ abios._cmbi_room }}<br />
		<strong>Phone</strong> {{ abios._cmbi_fphone }}<br />
		<strong>Fax</strong> {{ abios._cmbi_fax }}<br />
		<strong>Email</strong> {{ abios._cmbi_email }}<br />
		<a href="https://profile.hsc.unt.edu/profilesystem/viewprofile.php?pid={{ abios._cmbi_eis }}">View Profile</a>
	</div>	
</div>	



